body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*   Блок "Преимущества"   */
.features {
    background-color: #f4f4f4;
    padding: 50px 0;
}

/*   Шапка блока "Преимущества"   */
.features-header {
    margin-bottom: 36px;
}

.features-header__block {
    background-color: transparent;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: center;
    margin-left: -4px;
}

.features-header__title {
    color: #f39009;
    font-family: 'Roboto Black';
    font-size: 36px;
}

.features-header__subtitle {
    color: #373737;
    font-size: 16px;
    min-height: 40px;
}

/*   Конец шапки блока "Преимущества"   */

/*   Блок описания преимуществ   */
.features-topic__block {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 28px 18px 28px 10px;
    margin-bottom: 30px;
}

.features-topic__img {
    width: 23%;
    text-align: center;
}

.features-topic__text {
    width: 77%;
}

.features-topic__title {
    font-family: 'Roboto Bold';
    font-size: 15px;
}

.features-topic__description {
    font-family: 'Roboto Light';
    font-size: 14px;
}

/*   Конец блоков "Преимущества" описания преимуществ   */

/*   Блок "Наша продукция"   */
.products {
    background-color: #ffffff;
    text-align: center;
    padding: 58px 0 72px 0;
}

.products__title {
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products__title::after {
    content: '';
    display: block;
    height: 6px;
    background: url(../img/wavy-line.png) center no-repeat;
    margin-top: 12px;

}

.products__block {
    margin-right: 52px;
    margin-bottom: 36px;
}

.products__img {
    min-height: 287px;
    margin-bottom: 20px;
}

.products__img img {
    max-width: 100%;
}

.products h3 {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 28px;
}

.products button {
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    padding: 16px 24px 16px 24px;
    margin-left: 12px;

}

.products__button-o {
    background-color: transparent;
    border: 1px solid #373737;
    opacity: 0.5;
}

.products__button {
    background-color: #ff9d00;
    border: 1px solid #ff9d00;
    color: #ffffff;
}

/*   Эффекты кнопок при наведении   */
.products__button-o::after {
    content: '';
    display: block;
    background-color: #ff9d00;
    transform: scaleX(0);
    transition: all 0.3s;
    width: 100%;
    height: 2px;
}

.products__button-o:hover::after {
    transform: scaleX(1);
}

.products__button::after {
    content: '';
    display: block;
    background-color: #373737;
    transform: scaleX(0);
    transition: all 0.3s;
    width: 100%;
    height: 2px;
}

.products__button:hover::after {
    transform: scaleX(1);
}

/*   Эффекты кнопок при нажатии   */
.products__button-o:focus {
    border: 1px solid #373737;
    background-color: #ffdba0;
    transform: scaleX(1);
}

.products__button-o:focus::after {
    content: '';
    display: block;
    background-color: #ff4800;
    transform: scaleX(0);
    transition: all 0.7s;
    width: 100%;
    height: 2px;
}

.products__button:focus {
    border: 1px solid #ff5100;
    background-color: #ff5100;
    transform: scaleX(1);
}

.products__button:focus::after {
    content: '';
    display: block;
    background-color: #373737;
    transform: scaleX(0);
    transition: all 0.7s;
    width: 100%;
    height: 2px;
}

/*   Блок медиазапросов для адаптации под разные разрещения экранов   */
@media screen and (max-width: 1024px) {

    .features-header__title {
        font-size: 32px;
    }

    .products h3 {
        min-height: 48px;
    }
}

@media screen and (max-width: 768px) {

    .features {
        padding: 26px 0;
    }

    .features-header {
        margin-bottom: 24px;
    }

    .features-header__title {
        font-size: 22px;
    }

    .fetures-header__subtitle {
        min-height: 30px;
    }

    .products {
        padding: 29px 0 18px 0;
    }

    .products__block {
        margin-bottom: 20px;
    }

    .products__img {
        min-height: 200px;
        margin-bottom: 20px;
    }

    .products h3 {
        margin-bottom: 14px;
    }

    .products button {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 576px) {

    .features-header__block {
        display: block;
        width: 100%;
    }

    .products {
        padding-bottom: 0;
    }

    .products__block {
        margin-right: 0;
    }
}