@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*   Блок "Преимущества"   */
.features {
    background-color: #f4f4f4;
    border: 1px solid black;
    padding: 50px 0;
}

/*   Шапка блока "Преимущества"   */
.features-header {
    margin-bottom: 36px;
}
.features-header__block {
    background-color: transparent;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: center;
    margin-left: -4px;
}

.features-header__title {
    color: #f39009;
    font-size: 36px;
    font-weight: 900;
}

.features-header__subtitle {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    min-height: 40px;
}

/*   Конец шапки блока "Преимущества"   */

/*   Блок описания преимуществ   */
.features-topic__block {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 28px 18px 28px 10px;
    margin-bottom: 30px;
}

.features-topic__img {
    width: 23%;
    text-align: center;
}

.features-topic__text {
    width: 77%;
}

.features-topic__title {
    font-size: 15px;
    font-weight: 700;
}

.features-topic__description {
    font-size: 14px;
}

/*   Конец блоков "Преимущества" описания преимуществ   */