@font-face {
  font-family: "ProximaNova-Regular";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #000000;
}

h1,
p {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  margin: 100px 0 125px 0;
}

.header h1 {
  font-size: 36px;
  text-align: center;
}

.main {
  margin-bottom: 85px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
}

.cards__block {
  -ms-flex-preferred-size: 263px;
      flex-basis: 263px;
  text-align: center;
  border: 1px solid rgba(243, 161, 161, 0.384);
}

.cards__block:hover {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
}

.cards__img {
  margin-bottom: 25px;
}

.cards__img img {
  max-width: 100%;
}

.cards__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 200px;
}

.cards__name {
  max-width: 250px;
  max-height: 32px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 300;
}

.cards__price {
  font-size: 18px;
  font-weight: 700;
}

button {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 15px;
  padding: 23px 74px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #23bac1;
  background-color: transparent;
  border: 1px solid #23bac1;
  cursor: pointer;
  outline: 0;
}

button:hover {
  -webkit-box-shadow: 0 0 20px #7fa8ff;
          box-shadow: 0 0 20px #7fa8ff;
  background-color: #9eeaec;
}

button:focus {
  color: #0f757a;
  -webkit-box-shadow: 0 0 8px #54f8c2;
          box-shadow: 0 0 8px #54f8c2;
  background-color: #56e2e7;
}

@media screen and (max-width: 889px) {
  .header {
    margin: 50px 0 60px 0;
  }

  .main {
    margin-top: 0;
  }

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 549px) {
  .container {
    max-width: 320px;
  }

  .cards__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards__block {
    margin-top: 20px;
  }
}

@media (min-width: 890px) and (max-width: 1069px) {
  .container {
    max-width: 960px;
  }

  .cards__box {
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
  }

  .cards__block {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
  }

  .cards__name {
    max-width: 150px;
  }

  button {
    padding: 16px 50px;
  }
}

@media (min-width: 550px) and (max-width: 889px) {
  .container {
    max-width: 720px;
  }

  .cards__box {
    -ms-flex-preferred-size: 360px;
        flex-basis: 360px;
    margin-bottom: 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 889px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 549px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 890px) and (max-width: 1069px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 550px) and (max-width: 889px){

@supports (-webkit-appearance:none){

}

}
